
<div class="container border mt-2 p-4 mb-5">
  <div class="row">
      <div class="col-12 ">
        <input type="text"
        placeholder="Origem">

      </div>


  </div>

    <div class="row">
        <div class="col-12 mt-3 ">
          <input type="text"
          placeholder="Destino">

        </div>


    </div>

      <div class="row">
          <div class="col-12 mt-3">
            <input type="text"
            placeholder="Data de Partida">

          </div>


      </div>

        <div class="row">
            <div class="col-12 mt-3">
              <input type="text"
              placeholder="Data de Volta">

            </div>


        </div>

        <button class="mt-4" id="button">Consultar</button>
